{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Round {{ group.round_number }} has begun!
{% endblock %}

{% block content %}
Please note the following payoffs for this round:

<!--Insert picture here-->
<div>
{# Scalable vector for payoffs #}
    {{ if group.treatment == 'control' }}
    <svg class="middle" id="svg" width="650" height="205" fill="white" style="border: 2px rgb(204, 204, 204); margin-top: 10px; margin-right: 10px;">
        <g>
            <text x="610" y="65"
                  dominant-baseline="middle" text-anchor="middle"
                  font-size="20" font-weight="bold"
                  fill="red"
            >265</text>
            <text x="610" y="85"
                  dominant-baseline="middle" text-anchor="middle"
                  font-size="20" font-weight="bold"
                  fill="blue"
            >64</text>
        </g>
    </svg>
    {{ endif }}
    {{ if group.treatment == 'higher_fixed' }}
    <svg class="middle" id="svg" width="650" height="205" fill="white" style="border: 2px rgb(204, 204, 204); margin-top: 10px; margin-right: 10px;">
        <g>
            <text x="610" y="65"
                  dominant-baseline="middle" text-anchor="middle"
                  font-size="20" font-weight="bold"
                  fill="red"
            >500</text>
            <text x="610" y="85"
                  dominant-baseline="middle" text-anchor="middle"
                  font-size="20" font-weight="bold"
                  fill="blue"
            >120</text>
        </g>
    </svg>
    {{ endif }}
    {{ if group.treatment == 'higher_random' }}
    <svg class="middle" id="svg" width="680" height="205" fill="white" style="border: 2px rgb(204, 204, 204); margin-top: 10px; margin-right: 10px;">
        <g>
            <text x="630" y="65"
                  dominant-baseline="middle" text-anchor="middle"
                  font-size="20" font-weight="bold"
                  fill="red"
            >0-1000</text>
            <text x="630" y="85"
                  dominant-baseline="middle" text-anchor="middle"
                  font-size="20" font-weight="bold"
                  fill="blue"
            >0-240</text>
        </g>
    </svg>
    {{ endif }}

<!-- Player's color info -->
<div class="card my-5">
    {% if player.id_in_group == 1 %}
    <div class="card-header">You are the <font style="color:red;">RED</font> player and will move first</div>
    {% else %}
    <div class="card-header">You are the <font style="color:blue;">BLUE</font> player and will move second</div>
    {% endif %}
</div>
    {# base centipede image
    does not change, does not alternate
    #}
    <svg class="bottom" id="svg" width="650" height="205" style="border: 2px rgb(204, 204, 204); margin-top: 10px; margin-right: 10px;">

        <defs>
            <marker id="arrowhead" markerWidth="5" markerHeight="5"
            refX="0" refY="2.5" orient="auto">
                <polygon points="0 0, 5 2.5, 0 5" />
            </marker>
        </defs>
<!-- 1st node -->
        <g>
            <circle cx="15" cy="65" r="14" stroke="black" stroke-width="2" fill="red" />
            <line x1="30" y1="65" x2="90" y2="65" stroke="#000" stroke-width="2" marker-end="url(#arrowhead)" />
            <line x1="15" y1="80" x2="15" y2="140" stroke="#000" stroke-width="2" marker-end="url(#arrowhead)" />
            <text x="15" y="170" dominant-baseline="middle" text-anchor="middle" font-size="20" font-weight="bold" fill="red">4</text>
            <text x="15" y="195" dominant-baseline="middle" text-anchor="middle" font-size="20" font-weight="bold" fill="blue">1</text>
        </g>
<!-- 2nd node -->
        <g>
            <circle cx="115" cy="65" r="15" stroke="black" stroke-width="2" fill="blue" />
            <line x1="130" y1="65" x2="180" y2="65" stroke="#000" stroke-width="2" marker-end="url(#arrowhead)" />
            <line x1="115" y1="80" x2="115" y2="140" stroke="#000" stroke-width="2" marker-end="url(#arrowhead)" />
            <text x="115" y="170" dominant-baseline="middle" text-anchor="middle" font-size="20" font-weight="bold" fill="red">2</text>
            <text x="115" y="195" dominant-baseline="middle" text-anchor="middle" font-size="20" font-weight="bold" fill="blue">8</text>
        </g>
<!-- 3rd node -->
        <g>
            <circle cx="205" cy="65" r="14" stroke="black" stroke-width="2" fill="red" />
            <line x1="220" y1="65" x2="280" y2="65" stroke="#000" stroke-width="2" marker-end="url(#arrowhead)" />
            <line x1="205" y1="80" x2="205" y2="140" stroke="#000" stroke-width="2" marker-end="url(#arrowhead)" />
            <text x="205" y="170" dominant-baseline="middle" text-anchor="middle" font-size="20" font-weight="bold" fill="red">16</text>
            <text x="205" y="195" dominant-baseline="middle" text-anchor="middle" font-size="20" font-weight="bold" fill="blue">4</text>
        </g>
<!-- 4th node -->
        <g>
            <circle cx="305" cy="65" r="15" stroke="black" stroke-width="2" fill="blue" />
            <line x1="320" y1="65" x2="380" y2="65" stroke="#000" stroke-width="2" marker-end="url(#arrowhead)" />
            <line x1="305" y1="80" x2="305" y2="140" stroke="#000" stroke-width="2" marker-end="url(#arrowhead)" />
            <text x="305" y="170" dominant-baseline="middle" text-anchor="middle" font-size="20" font-weight="bold" fill="red">8</text>
            <text x="305" y="195" dominant-baseline="middle" text-anchor="middle" font-size="20" font-weight="bold" fill="blue">32</text>
        </g>
<!-- 5th node -->
        <g>
            <circle cx="405" cy="65" r="14" stroke="black" stroke-width="2" fill="red" />
            <line x1="420" y1="65" x2="480" y2="65" stroke="#000" stroke-width="2" marker-end="url(#arrowhead)" />
            <line x1="405" y1="80" x2="405" y2="140" stroke="#000" stroke-width="2" marker-end="url(#arrowhead)" />
            <text x="405" y="170" dominant-baseline="middle" text-anchor="middle" font-size="20" font-weight="bold" fill="red">64</text>
            <text x="405" y="195" dominant-baseline="middle" text-anchor="middle" font-size="20" font-weight="bold" fill="blue">16</text>
        </g>
<!-- 6th node -->
        <g>
            <circle cx="505" cy="65" r="15" stroke="black" stroke-width="2" fill="blue" />
            <line x1="520" y1="65" x2="580" y2="65" stroke="#000" stroke-width="2" marker-end="url(#arrowhead)" />
            <line x1="505" y1="80" x2="505" y2="140" stroke="#000" stroke-width="2" marker-end="url(#arrowhead)" />
            <text x="505" y="170" dominant-baseline="middle" text-anchor="middle" font-size="20" font-weight="bold" fill="red">32</text>
            <text x="505" y="195" dominant-baseline="middle" text-anchor="middle" font-size="20" font-weight="bold" fill="blue">128</text>
        </g>
    </svg>

{% if group.treatment == 'higher_random' %}
Note: if the end is reached without either player taking, players receive a random number between the range given,
indicated by the color.
{% endif %}

{% next_button %}

{% endblock %}