{% extends "global/Page.html" %}
{% load otree static %}
{{ block title }}
<!-- Opponent's decision -->
{% if node > 1 %}
<div class="card-header">Your opponent decided to pass</div>
<style>
    .card-header{
    font-size: 0.6em;
    background-color: DarkSeaGreen;
    }
</style>
{% endif %}
{% if player.id_in_group == 1 %}
    <h3>Make Your Move, <font style="color:red;">RED</font> player</h3>
    {% else %}
    <h3>Make Your Move, <font style="color:blue;">BLUE</font> player</h3>
    {% endif %}
Turn ({{ node }} / {{ C.NUM_NODES }}) of
    Round ({{ group.round_number }} / {{ C.NUM_ROUNDS }})
{{ endblock }}
{% block content %}
<!-- Centipede
<input type="hidden" name="take" id="take_here"/>-->
<div>
{# Scalable vector for payoffs #}
    {{ if group.treatment == 'control' }}
    <svg class="middle" id="svg" width="650" height="205" fill="white" style="border: 2px rgb(204, 204, 204); margin-top: 10px; margin-right: 10px;">
        <g>
            <text x="610" y="65"
                  dominant-baseline="middle" text-anchor="middle"
                  font-size="20" font-weight="bold"
                  fill="red"
            >265</text>
            <text x="610" y="85"
                  dominant-baseline="middle" text-anchor="middle"
                  font-size="20" font-weight="bold"
                  fill="blue"
            >64</text>
        </g>
    </svg>
    {{ endif }}
    {{ if group.treatment == 'higher_fixed' }}
    <svg class="middle" id="svg" width="650" height="205" fill="white" style="border: 2px rgb(204, 204, 204); margin-top: 10px; margin-right: 10px;">
        <g>
            <text x="610" y="65"
                  dominant-baseline="middle" text-anchor="middle"
                  font-size="20" font-weight="bold"
                  fill="red"
            >500</text>
            <text x="610" y="85"
                  dominant-baseline="middle" text-anchor="middle"
                  font-size="20" font-weight="bold"
                  fill="blue"
            >120</text>
        </g>
    </svg>
    {{ endif }}
    {{ if group.treatment == 'higher_random' }}
    <svg class="middle" id="svg" width="680" height="205" fill="white" style="border: 2px rgb(204, 204, 204); margin-top: 10px; margin-right: 10px;">
        <g>
            <text x="630" y="65"
                  dominant-baseline="middle" text-anchor="middle"
                  font-size="20" font-weight="bold"
                  fill="red"
            >0-1000</text>
            <text x="630" y="85"
                  dominant-baseline="middle" text-anchor="middle"
                  font-size="20" font-weight="bold"
                  fill="blue"
            >0-240</text>
        </g>
    </svg>
    {{ endif }}

{# Scalable vector graph that moves take/pass buttons along the centipede as the game progresses #}
{{ if group.node == 1 }}

    <svg class="top" id="svg" width="650" height="205" fill="white" style="border: 2px rgb(204, 204, 204); margin-top: 10px; margin-right: 10px;">
        <g>
            <rect x="35" y="50" width="50" height="30" stroke="black" stroke-width="2"></rect>
            <text x="45" y="70"
                style="writing-mode: horizontal-tb; glyph-orientation-horizontal: 0;"
                font-size="17" fill="black"
                >Pass</text>
        </g>

        <g>
            <rect x="1" y="100" width="50" height="30" stroke="black" stroke-width="2"></rect>
            <text x="10" y="120"
                style="writing-mode: horizontal-tb; glyph-orientation-horizontal: 0;"
                font-size="17" fill="black"
            >Take</text>
        </g>
    </svg>
    {{ endif }}
    {{ if group.node == 2}}
       <svg class="top" id="svg" width="650" height="205" fill="white" style="border: 2px rgb(204, 204, 204); margin-top: 10px; margin-right: 10px;">
        <g>
            <rect x="135" y="50" width="50" height="30" stroke="black" stroke-width="2"></rect>
            <text x="145" y="70"
                style="writing-mode: horizontal-tb; glyph-orientation-horizontal: 0;"
                font-size="17" fill="black"
                >Pass</text>
        </g>
        <g>
            <rect x="95" y="100" width="50" height="30" stroke="black" stroke-width="2"></rect>
            <text x="100" y="120"
                style="writing-mode: horizontal-tb; glyph-orientation-horizontal: 0;"
                font-size="17" fill="black"
            >Take</text>
        </g>
    </svg>
    {{ endif }}
    {{ if group.node == 3 }}
    <svg class="top" id="svg" width="650" height="205" fill="white" style="border: 2px rgb(204, 204, 204); margin-top: 10px; margin-right: 10px;">
        <g>
            <rect x="223" y="50" width="50" height="30" stroke="black" stroke-width="2"></rect>
            <text x="231" y="70"
                style="writing-mode: horizontal-tb; glyph-orientation-horizontal: 0;"
                font-size="17" fill="black"
                >Pass</text>
        </g>

        <g>
            <rect x="185" y="100" width="50" height="30" stroke="black" stroke-width="2"></rect>
            <text x="191" y="120"
                style="writing-mode: horizontal-tb; glyph-orientation-horizontal: 0;"
                font-size="17" fill="black"
            >Take</text>
        </g>
    </svg>
    {{ endif}}
    {{ if group.node == 4 }}
    <svg class="top" id="svg" width="650" height="205" fill="white" style="border: 2px rgb(204, 204, 204); margin-top: 10px; margin-right: 10px;">
        <g>
            <rect x="325" y="50" width="50" height="30" stroke="black" stroke-width="2"></rect>
            <text x="333" y="70"
                style="writing-mode: horizontal-tb; glyph-orientation-horizontal: 0;"
                font-size="17" fill="black"
                >Pass</text>
        </g>

        <g>
            <rect x="280" y="100" width="50" height="30" stroke="black" stroke-width="2"></rect>
            <text x="287" y="120"
                style="writing-mode: horizontal-tb; glyph-orientation-horizontal: 0;"
                font-size="17" fill="black"
            >Take</text>
        </g>
    </svg>
    {{ endif}}
    {{ if group.node == 5 }}
    <svg class="top" id="svg" width="650" height="205" fill="white" style="border: 2px rgb(204, 204, 204); margin-top: 10px; margin-right: 10px;">
        <g>
            <rect x="425" y="50" width="50" height="30" stroke="black" stroke-width="2"></rect>
            <text x="433" y="70"
                style="writing-mode: horizontal-tb; glyph-orientation-horizontal: 0;"
                font-size="17" fill="black"
                >Pass</text>
        </g>

        <g>
            <rect x="380" y="100" width="50" height="30" stroke="black" stroke-width="2"></rect>
            <text x="387" y="120"
                style="writing-mode: horizontal-tb; glyph-orientation-horizontal: 0;"
                font-size="17" fill="black"
            >Take</text>
        </g>
    </svg>
    {{ endif}}
    {{ if group.node == 6 }}
    <svg class="top" id="svg" width="650" height="205" fill="white" style="border: 2px rgb(204, 204, 204); margin-top: 10px; margin-right: 10px;">
        <g>
            <rect x="525" y="50" width="50" height="30" stroke="black" stroke-width="2"></rect>
            <text x="533" y="70"
                style="writing-mode: horizontal-tb; glyph-orientation-horizontal: 0;"
                font-size="17" fill="black"
                >Pass</text>
        </g>

        <g>
            <rect x="480" y="100" width="50" height="30" stroke="black" stroke-width="2"></rect>
            <text x="488" y="120"
                style="writing-mode: horizontal-tb; glyph-orientation-horizontal: 0;"
                font-size="17" fill="black"
            >Take</text>
        </g>
    </svg>
    {{ endif}}
    {# base centipede image
    does not change, does not alternate
    #}
    <svg class="bottom" id="svg" width="650" height="205" style="border: 2px rgb(204, 204, 204); margin-top: 10px; margin-right: 10px;">

        <defs>
            <marker id="arrowhead" markerWidth="5" markerHeight="5"
            refX="0" refY="2.5" orient="auto">
                <polygon points="0 0, 5 2.5, 0 5" />
            </marker>
        </defs>
<!-- 1st node -->
        <g>
            <circle cx="15" cy="65" r="14" stroke="black" stroke-width="2" fill="red" />
            <line x1="30" y1="65" x2="90" y2="65" stroke="#000" stroke-width="2" marker-end="url(#arrowhead)" />
            <line x1="15" y1="80" x2="15" y2="140" stroke="#000" stroke-width="2" marker-end="url(#arrowhead)" />
            <text x="15" y="170" dominant-baseline="middle" text-anchor="middle" font-size="20" font-weight="bold" fill="red">4</text>
            <text x="15" y="195" dominant-baseline="middle" text-anchor="middle" font-size="20" font-weight="bold" fill="blue">1</text>
        </g>
<!-- 2nd node -->
        <g>
            <circle cx="115" cy="65" r="15" stroke="black" stroke-width="2" fill="blue" />
            <line x1="130" y1="65" x2="180" y2="65" stroke="#000" stroke-width="2" marker-end="url(#arrowhead)" />
            <line x1="115" y1="80" x2="115" y2="140" stroke="#000" stroke-width="2" marker-end="url(#arrowhead)" />
            <text x="115" y="170" dominant-baseline="middle" text-anchor="middle" font-size="20" font-weight="bold" fill="red">2</text>
            <text x="115" y="195" dominant-baseline="middle" text-anchor="middle" font-size="20" font-weight="bold" fill="blue">8</text>
        </g>
<!-- 3rd node -->
        <g>
            <circle cx="205" cy="65" r="14" stroke="black" stroke-width="2" fill="red" />
            <line x1="220" y1="65" x2="280" y2="65" stroke="#000" stroke-width="2" marker-end="url(#arrowhead)" />
            <line x1="205" y1="80" x2="205" y2="140" stroke="#000" stroke-width="2" marker-end="url(#arrowhead)" />
            <text x="205" y="170" dominant-baseline="middle" text-anchor="middle" font-size="20" font-weight="bold" fill="red">16</text>
            <text x="205" y="195" dominant-baseline="middle" text-anchor="middle" font-size="20" font-weight="bold" fill="blue">4</text>
        </g>
<!-- 4th node -->
        <g>
            <circle cx="305" cy="65" r="15" stroke="black" stroke-width="2" fill="blue" />
            <line x1="320" y1="65" x2="380" y2="65" stroke="#000" stroke-width="2" marker-end="url(#arrowhead)" />
            <line x1="305" y1="80" x2="305" y2="140" stroke="#000" stroke-width="2" marker-end="url(#arrowhead)" />
            <text x="305" y="170" dominant-baseline="middle" text-anchor="middle" font-size="20" font-weight="bold" fill="red">8</text>
            <text x="305" y="195" dominant-baseline="middle" text-anchor="middle" font-size="20" font-weight="bold" fill="blue">32</text>
        </g>
<!-- 5th node -->
        <g>
            <circle cx="405" cy="65" r="14" stroke="black" stroke-width="2" fill="red" />
            <line x1="420" y1="65" x2="480" y2="65" stroke="#000" stroke-width="2" marker-end="url(#arrowhead)" />
            <line x1="405" y1="80" x2="405" y2="140" stroke="#000" stroke-width="2" marker-end="url(#arrowhead)" />
            <text x="405" y="170" dominant-baseline="middle" text-anchor="middle" font-size="20" font-weight="bold" fill="red">64</text>
            <text x="405" y="195" dominant-baseline="middle" text-anchor="middle" font-size="20" font-weight="bold" fill="blue">16</text>
        </g>
<!-- 6th node -->
        <g>
            <circle cx="505" cy="65" r="15" stroke="black" stroke-width="2" fill="blue" />
            <line x1="520" y1="65" x2="580" y2="65" stroke="#000" stroke-width="2" marker-end="url(#arrowhead)" />
            <line x1="505" y1="80" x2="505" y2="140" stroke="#000" stroke-width="2" marker-end="url(#arrowhead)" />
            <text x="505" y="170" dominant-baseline="middle" text-anchor="middle" font-size="20" font-weight="bold" fill="red">32</text>
            <text x="505" y="195" dominant-baseline="middle" text-anchor="middle" font-size="20" font-weight="bold" fill="blue">128</text>
        </g>
    </svg>
</div>
<style>
    .top{
    position: absolute;
    z-index: 1;
    }
.middle{
    position: absolute;
    z-index: 0.5;
    }
.bottom{
    z-index: 0;
    }
</style>
        <p>Do you want to Take or Pass?</p>

        <!--Buttons-->
        <div class="btn-div">
        <label id="take-label" class="btn btn-outline-primary">
            <input id="take" type="submit" name="take" value="True" style="display: none;" required >Take
        </label>
        <label id="pass-label" class="btn btn-outline-primary">
            <input id="pass" type="submit" name="take" value="False" style="display: none;" required>Pass
        </label>
        </div>
{{ include '_templates/global/BaseInstructions.html' }}
{{ endblock }}