{% extends "global/Page.html" %}
{% load static %}
{{ load otree static }}
{% block title %}
<h1>Welcome to</h1>
{% endblock %}

{% block content %}
<p xmlns="http://www.w3.org/1999/html">
    <div id="otree-header" class="header">
        <h1 id="title">GAME NAME HERE</h1>
    </div>
<p xmlns="http://www.w3.org/1999/html"></p>
<div id="otree-body" class="container">
    <p id="subHead">A game created by Cold Stone Creamery Gmbh</p>
</div>
    <span>How the game works:</span>
        <style>
            span {
            font-size: 1.3em;
            text-align: center;
        </style>
    <p></p>
    You will be randomly paired with another participant. Each of you will take turns playing {{ C.NUM_ROUNDS }} rounds of a game,
    either taking or passing. <strong>There are several variations of the game you will be playing in nonconsecutive orders.</strong>
    <p> You will be assigned either the <font color="red">Red</font> or <font color="blue">Blue</font> player each round. The red player chooses first each round.</p>
    <p> If you take: the game ends and each player receives the listed payoffs for the turn.</p>
    <p> If you pass: the decision is passed to the other player and the game continues. Each time the game is passed, the payoffs increase.</p>
    <p> The <font color="red">Red Player</font> receives the payoffs listed in <font color="red">red</font> typeface, the <font color="blue">Blue Player</font> receives the ones in <font color="blue">Blue</font>.</p>
    <p> Your total payoff will be the total of all rounds combined.</p>

    <p></p>
    <p></p>
    We will be monitoring while you play. If you have any questions or need help, ask an examiner.
    <p>PS. Please keep eyes on your own devices to maintain experiment integrity.</p>

    <p></p>

        <p>2 turn example:</p>
        <style>
            html{
            font-size: 1.2em;
            }
        </style>
<div>
    <svg class="bottom" id="svg" width="300" height="205" style="border: 2px rgb(204, 204, 204); margin-top: 10px; margin-right: 10px;">
        <defs>
            <marker id="arrowhead" markerWidth="5" markerHeight="5"
            refX="0" refY="2.5" orient="auto">
                <polygon points="0 0, 5 2.5, 0 5" />
            </marker>
        </defs>
<!-- 1st node -->
        <g>
            <circle cx="115" cy="65" r="14" stroke="black" stroke-width="2" fill="red" />
            <line x1="130" y1="65" x2="190" y2="65" stroke="#000" stroke-width="2" marker-end="url(#arrowhead)" />
            <line x1="115" y1="80" x2="115" y2="140" stroke="#000" stroke-width="2" marker-end="url(#arrowhead)" />
            <text x="115" y="170" dominant-baseline="middle" text-anchor="middle" font-size="20" font-weight="bold" fill="red">payoff red</text>
            <text x="115" y="195" dominant-baseline="middle" text-anchor="middle" font-size="20" font-weight="bold" fill="blue">payoff blue</text>
            <text x="115" y="35" dominant-baseline="middle" text-anchor="middle" font-size="20" font-weight="bold" fill="red">1st turn</text>
        </g>
<!-- 2nd node -->
        <g>
            <circle cx="215" cy="65" r="15" stroke="black" stroke-width="2" fill="blue" />
            <line x1="230" y1="65" x2="280" y2="65" stroke="#000" stroke-width="2" marker-end="url(#arrowhead)" />
            <line x1="215" y1="80" x2="215" y2="140" stroke="#000" stroke-width="2" marker-end="url(#arrowhead)" />
            <text x="215" y="170" dominant-baseline="middle" text-anchor="middle" font-size="20" font-weight="bold" fill="red">$$</text>
            <text x="215" y="195" dominant-baseline="middle" text-anchor="middle" font-size="20" font-weight="bold" fill="blue">$$</text>
            <text x="215" y="35" dominant-baseline="middle" text-anchor="middle" font-size="20" font-weight="bold" fill="blue">2nd turn</text>
        </g>
        <g>
            <rect x="135" y="50" width="50" height="30" stroke="black" stroke-width="2" fill="white"></rect>
            <text x="143" y="70"
                style="writing-mode: horizontal-tb; glyph-orientation-horizontal: 0;"
                font-size="17" fill="black"
                >Pass</text>
        </g>
        <g>
            <rect x="90" y="100" width="50" height="30" stroke="black" stroke-width="2" fill="white"></rect>
            <text x="95" y="120"
                style="writing-mode: horizontal-tb; glyph-orientation-horizontal: 0;"
                font-size="17" fill="black"
            >Take</text>
        </g>
            </svg>
</div>
<p></p>
    {% next_button %}

{{ endblock }}
